<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static custom_tags %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="keywords" content="" />
        <meta name="author" content="DexignZone" />
        <meta name="robots" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ dz_array.public.description }}" />
        <meta property="og:title" content="{{ dz_array.public.og_title }}" />
        <meta property="og:description" content="{{ dz_array.public.og_description }}" />
        <meta property="og:image" content="{{ dz_array.public.og_image }}" />
        <meta name="format-detection" content="telephone=no">


        <!-- PAGE TITLE HERE -->
        <title>{{ dz_array.public.title }}</title>
        
        <!-- FAVICONS ICON -->
        <link rel="shortcut icon" type="image/png" href="{% static dz_array.public.favicon  %}" />
        {% for cssurl in dz_array.pagelevel.gymove.gymove_views.css|getdata:request.path %}
        <link rel="stylesheet" href="{% static cssurl %}" >
        {% endfor %}
        {% for cssurl in dz_array.global.css %}
        <link rel="stylesheet" href="{% static cssurl %}">
        {% endfor %}
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        {% block additional_css %}
        {% endblock %}
        
    </head>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->

        {% include 'gymove/elements/nav-header.html' %}

        <!--**********************************
            Nav header end
        ***********************************-->
		
		<!--**********************************
            Chat box start
        ***********************************-->

        {% include 'gymove/elements/chatbox.html' %}

		<!--**********************************
            Chat box End
        ***********************************-->
		
		<!--**********************************
            Header start
        ***********************************-->

        {% include 'gymove/elements/header.html' %}

        <!--**********************************
            Header end 
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->

        {% include 'gymove/elements/sidebar.html' %}
        <!--**********************************
            Sidebar end
        ***********************************-->
		

        {% block message %}
        {% endblock %}

        {% block content %}
        {% endblock %}
		
				
        <!--**********************************
            Footer start
        ***********************************-->

        {% include 'gymove/elements/footer.html' %}
        <!--**********************************
            Footer end
        ***********************************-->


	</div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->

    {% for jsurl in dz_array.global.js.top %}
    <script src="{% static jsurl %}"></script>
    {% endfor %}
    
    {% for jsurl in dz_array.pagelevel.gymove.gymove_views.js|getdata:request.path %}
    <script src="{% static jsurl %}"></script>
    {% endfor %}
    
    {% for jsurl in dz_array.global.js.bottom %}
    <script src="{% static jsurl %}"></script>
    {% endfor %}
    
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cropperjs@1.6.2/dist/cropper.min.css">

<script src="https://cdn.jsdelivr.net/npm/cropperjs@1.6.2/dist/cropper.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

{% block additional_js %}
{% endblock %}

</body>
</html>