{% load static %}

<div class="nav-header">

    <a href="{% url 'gymove:index' %}" class="brand-logo" aria-label="GPISC">


        <!-- COLLAPSED SIDEBAR LOGOS -->

        <!-- Dark Theme Small Logo -->
        <img class="logo-small logo-small-dark"
             src="{% static 'gymove/images/logo/logo-small-dark.png' %}"
             alt="GPISC">


        <!-- Light Theme Small Logo -->
        <img class="logo-small logo-small-light"
             src="{% static 'gymove/images/logo/logo-small-light.png' %}"
             alt="GPISC">



        <!-- FULL SIDEBAR LOGOS -->

        <!-- Dark Theme Full Logo -->
        <img class="logo-full logo-full-dark"
             src="{% static 'gymove/images/logo/logo-full-dark.png' %}"
             alt="GPISC">


        <!-- Light Theme Full Logo -->
        <img class="logo-full logo-full-light"
             src="{% static 'gymove/images/logo/logo-full-light.png' %}"
             alt="GPISC">


    </a>



    <div class="nav-control">

        <div class="hamburger">

            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>

        </div>

    </div>

</div>