{% extends 'gymove/elements/layouts/admin.html' %}

{% block content %}

<div class="content-body">
<div class="container-fluid">

<div class="card">

<div class="card-header">
<h4>Edit Member</h4>
</div>


<div class="card-body">


<form method="POST">

{% csrf_token %}


<div class="row">



<div class="col-md-6 mb-3">

<label>
First Name
</label>

<input 
type="text"
name="first_name"
class="form-control"
value="{{ member.first_name }}">

</div>



<div class="col-md-6 mb-3">

<label>
Last Name
</label>

<input 
type="text"
name="last_name"
class="form-control"
value="{{ member.last_name }}">

</div>



<div class="col-md-6 mb-3">

<label>
Gender
</label>

<select name="gender" class="form-control">

<option value="Male" {% if member.gender == "Male" %}selected{% endif %}>
Male
</option>

<option value="Female" {% if member.gender == "Female" %}selected{% endif %}>
Female
</option>

<option value="Other" {% if member.gender == "Other" %}selected{% endif %}>
Other
</option>

</select>

</div>



<div class="col-md-6 mb-3">

<label>
Date of Birth
</label>

<input 
type="date"
name="date_of_birth"
class="form-control"
value="{{ member.date_of_birth }}">

</div>




<div class="col-md-6 mb-3">

<label>
Phone
</label>

<input 
type="text"
name="phone"
class="form-control"
value="{{ member.phone }}">

</div>




<div class="col-md-6 mb-3">

<label>
Email
</label>

<input 
type="email"
name="email"
class="form-control"
value="{{ member.email }}">

</div>




<div class="col-md-12 mb-3">

<label>
Address
</label>

<textarea
name="address"
class="form-control">{{ member.address }}</textarea>

</div>




<div class="col-md-6 mb-3">

<label>
Emergency Contact
</label>

<input 
type="text"
name="emergency_contact"
class="form-control"
value="{{ member.emergency_contact }}">

</div>




<div class="col-md-6 mb-3">

<label>
Joining Date
</label>

<input 
type="date"
name="join_date"
class="form-control"
value="{{ member.join_date }}">

</div>




<div class="col-md-6 mb-3">

<label>
Trainer
</label>


<select
name="trainer_id"
class="form-control">


<option value="">
Select Trainer
</option>


{% for trainer in trainers %}

<option 
value="{{ trainer.trainer_id }}"
{% if member.trainer_id == trainer.trainer_id %}
selected
{% endif %}>

{{ trainer.full_name }}

</option>


{% endfor %}


</select>


</div>




<div class="col-md-6 mb-3">

<label>
Membership Plan
</label>


<select
name="membership_plan"
class="form-control">


<option value="">
Select Plan
</option>



{% for plan in plans %}

<option
value="{{ plan.plan_id }}"
{% if member.membership_plan == plan.plan_id %}
selected
{% endif %}>

{{ plan.plan_name }}
-
₹{{ plan.price }}

</option>


{% endfor %}


</select>


</div>




<div class="col-md-6 mb-3">

<label>
Membership Expiry
</label>


<input 
type="text"
class="form-control"
value="{{ member.membership_expiry_date }}"
readonly>


<small class="text-muted">
Automatically calculated from plan duration
</small>


</div>



</div>



<button 
type="submit"
class="btn btn-primary">

Update Member

</button>


<a 
href="{% url 'gymove:member-list' %}"
class="btn btn-light">

Cancel

</a>


</form>


</div>

</div>

</div>
</div>


{% endblock %}