{% extends 'gymove/elements/layouts/admin.html' %}
{% load static %}
        
{% block additional_css %}
{% endblock %}
        
{% block content %}
<!--**********************************
	Content body start
***********************************-->
<div class="content-body default-height">
	<div class="container-fluid">
		<div class="page-titles">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="javascript:void(0)">Shop</a></li>
				<li class="breadcrumb-item active"><a href="javascript:void(0)">Product Grid</a></li>
			</ol>
		</div>
		<div class="row">
			<div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
				<div class="card">
					<div class="card-body product-grid-card">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid rounded" src="{% static 'gymove/images/product/1.jpg' %}" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4>Bowflex</h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa-solid fa-star-half-stroke"></i></li>
									<li><i class="fa-solid fa-star-half-stroke"></i></li>
								</ul>
								<del class="discount">$761.00</del>
								<span class="price">$159</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
				<div class="card">
					<div class="card-body product-grid-card">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid rounded" src="{% static 'gymove/images/product/2.jpg' %}" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4>Rogue</h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<del class="discount"> $159.00</del>
								<span class="price">$159</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
				<div class="card">
					<div class="card-body product-grid-card">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid rounded" src="{% static 'gymove/images/product/3.jpg' %}" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4>Amazon Neoprene</h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<del class="discount">$357.00</del>
								<span class="price">$159</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
				<div class="card">
					<div class="card-body product-grid-card">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid rounded" src="{% static 'gymove/images/product/4.jpg' %}" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4>REP Fitness</h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa-solid fa-star-half-stroke"></i></li>
									<li><i class="fa-solid fa-star-half-stroke"></i></li>
								</ul>
								<del class="discount">$654.00</del>
								<span class="price">$159</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
				<div class="card">
					<div class="card-body product-grid-card">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid rounded" src="{% static 'gymove/images/product/5.jpg' %}" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4>Eleiko</h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<del class="discount">$369.00</del>
								<span class="price">$149</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
				<div class="card">
					<div class="card-body product-grid-card">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid rounded" src="{% static 'gymove/images/product/6.jpg' %}" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4>Yes4All</h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<del class="discount">$245.00</del>
								<span class="price">$179</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
				<div class="card">
					<div class="card-body product-grid-card">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid rounded" src="{% static 'gymove/images/product/7.jpg' %}" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4>CAP</h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<del class="discount">$364.00</del>
								<span class="price">$259</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
				<div class="card">
					<div class="card-body product-grid-card">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid rounded" src="{% static 'gymove/images/product/1.jpg' %}" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4>YBell</h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa-solid fa-star-half-stroke"></i></li>
									<li><i class="fa-solid fa-star-half-stroke"></i></li>
								</ul>
								<del class="discount">$548.00</del>
								<span class="price">$459</span>
							</div>
						</div>
					</div>
				</div>
			</div>
				<div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
				<div class="card">
					<div class="card-body product-grid-card">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid rounded" src="{% static 'gymove/images/product/7.jpg' %}" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4>Amazon Rubber</h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<del class="discount">$364.00</del>
								<span class="price">$300</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
				<div class="card">
					<div class="card-body product-grid-card">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid rounded" src="{% static 'gymove/images/product/6.jpg' %}" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4>Ironmaster</h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<del class="discount">$245.00</del>
								<span class="price">$159</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
				<div class="card">
					<div class="card-body product-grid-card">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid rounded" src="{% static 'gymove/images/product/6.jpg' %}" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4>PowerBlock Sport</h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<del class="discount">$245.00</del>
								<span class="price">$139</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-2 col-xxl-3 col-md-4 col-sm-6">
				<div class="card">
					<div class="card-body product-grid-card">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid rounded" src="{% static 'gymove/images/product/7.jpg' %}" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4>Back  Dumbbells</h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<del class="discount">$364.00</del>
								<span class="price">$189</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--**********************************
	Content body end
***********************************-->
{% endblock %}